<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.mall.dao.GoodsProviderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bdqn.mall.mall.entity.GoodsProvider">
        <id column="id" property="id" />
        <result column="providerName" property="providerName" />
        <result column="typeIdOne" property="typeIdOne" />
        <result column="typeIdTwo" property="typeIdTwo" />
        <result column="typeTree" property="typeTree" />
        <result column="address" property="address" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, providerName, typeIdOne, typeIdTwo, typeTree, address
    </sql>

</mapper>
