<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/resource/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resource/css/public.css" media="all" />
    <link rel="stylesheet" href="/resource/layui_ext/dtree/dtree.css" media="all" />
    <link rel="stylesheet" href="/resource/layui_ext/dtree/font/dtreefont.css" media="all" />
</head>
<body class="childrenBody">
<!-- 查询条件开始-->
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form" >
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">类型名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="typename" id="typename" class="layui-input searchVal" placeholder="请输入类型名称" />
                    </div>
                </div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn" lay-submit lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>查询</button>
                    <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
                </div>
            </div>
        </form>
    </blockquote>
</form>
<!-- 查询条件结束-->


<!-- 数据表格开始 -->
<div>
    <table class="layui-hide" id="typeTable" lay-filter="typeTable"></table>
    <!-- 工具栏 -->
    <div id="typeToolBar" style="display: none;">
        <button type="button"  class="layui-btn layui-btn-sm" lay-event="add"><span class="layui-icon layui-icon-add-1"></span>添加商品类型</button>
    </div>

    <div id="typeRowBar" style="display: none;">
        <button type="button" class="layui-btn layui-btn-sm" lay-event="update"><span class="layui-icon layui-icon-edit"></span>更新</button>
        <button type="reset"  class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete" ><span class="layui-icon layui-icon-delete"></span>删除</button>
    </div>
</div>
<!-- 数据表格结束 -->

<!-- 添加和修改的弹出层开始 -->
<div  style="display: none;padding: 5px" id="addOrUpdateDiv">
    <form class="layui-form" style="width:90%;" id="dataFrm" lay-filter="dataFrm">
        <div class="layui-form-item">
            <label class="layui-form-label">父级部门</label>
            <div class="layui-input-block">
                <!-- 隐藏域，保存选中的部门编号 -->
                <input type="hidden" name="parent" id="parent">
                <ul id="typeTree" class="dtree" data-id="0"></ul>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型名称</label>
            <div class="layui-input-block">
                <!-- 部门编号 -->
                <input type="hidden" name="id">
                <input type="text" name="typename" lay-verify="required" autocomplete="off" placeholder="请输入类型名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">是否展开</label>
                <div class="layui-input-block">
                    <input type="radio" name="open" value="1" title="是" checked="">
                    <input type="radio" name="open" value="0" title="否" >
                </div>
            </div>
        </div>

        <div class="layui-form-item layui-row layui-col-xs12">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit lay-filter="doSubmit" ><span class="layui-icon layui-icon-add-1"></span>提交</button>
                <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
            </div>
        </div>
    </form>
</div>
<!-- 添加和修改的弹出层结束 -->



<script type="text/javascript" src="/resource/layui/layui.js"></script>
<script type="text/javascript">

    var tableIns;
    layui.extend({
        dtree: '/resource/layui_ext/dtree/dtree'   // {/}的意思即代表采用自有路径，即不跟随 base 路径
    }).use(['jquery','form','table','layer','dtree'],function () {
        var $=layui.jquery;
        var form=layui.form;
        var table=layui.table;
        var layer=layui.layer;
        var dtree = layui.dtree;

        tableIns = table.render({
            elem: '#typeTable'
            , height: 'full-120'
            , url: '/admin/type/typeList' //数据接口
            , toolbar: "#typeToolBar"
            , title: '用户操作日志数据表'
            , page: true //开启分页
            ,cols: [ [
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'ID',align:'center',width:80}
                ,{field:'typename', title:'部门名称',align:'center'}
                ,{field:'open', title:'是否展开',align:'center',templet:function (d) {
                        return d.open == 1 ? "<font color='blue'>是</font>" :"<font color='red'>否</font>";
                    }}
                ,{field:'right', title:'操作',align:'center',toolbar:"#typeRowBar",width:200}
            ] ]
            , done: function (res, curr, count) {
                if (curr > 1 && res.data.length == 0) {
                    var pageValue = curr - 1;
                    tableIns.render({
                        page: {curr: pageValue}
                    })
                }
            }
        });

        //监听模糊查询按钮点击事件
        form.on("submit(doSearch)", function (data) {
            tableIns.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            })
        })

        //头部工具栏监听事件
        table.on("toolbar(typeTable)", function (obj) {
            switch (obj.event) {
                case "add":
                    openAddNoticeLayer();
                    break;
            }
        })


        var mainIndex;
        var url;

        //打开添加部门的窗口
        function openAddNoticeLayer() {
            mainIndex = layer.open({
                type: 1,
                content: $("#addOrUpdateDiv"),
                area: ['500px', '300px'],
                title: "添加部门",
                success: function () {
                    $("#dataFrm")[0].reset();
                    url = "/admin/type/addType";
                }

            });
        }

        //初始化父级部门的下拉菜单树
        var deptSelectTree = dtree.renderSelect({
            width:"100%",
            elem: "#typeTree",
            url: "/admin/type/loadTypeTreeLeft",
            dataStyle: "layuiStyle",
            response: {message: "msg", statusCode: 0},
            dataFormat: "list"
        })

        //监听下拉树的选中事件
        dtree.on("node('typeTree')",function (obj) {
            $("#parent").val(obj.param.nodeId);
        })

        //监听表单的提交事件
        form.on("submit(doSubmit)",function (data) {
            $.post(url,data.field,function(result){
                if(result.success){
                    //刷新数据表格
                    tableIns.reload();
                    //刷新下拉菜单树
                    deptSelectTree.reload();
                    //刷新左侧菜单树
                    window.parent.left.reload();
                }
                //显示提示信息
                layer.msg(result.message);
                //关闭当前窗口
                layer.close(mainIndex);
            },"json");

            return false;
        });

        //监听工具栏事件
        table.on("tool(typeTable)", function (obj) {
            switch (obj.event) {
                case "update":
                    openUpdateDeptWindow(obj.data);
                    break;
                case "delete":
                    deleteInfo(obj.data);
                    break;
            }
        })

        //修改部门
        function openUpdateDeptWindow(data) {
            mainIndex = layer.open({
                type: 1,
                title: "更新部门",
                area: ['500px', '300px'],
                content: $("#addOrUpdateDiv"),
                success: function () {
                   form.val("dataFrm",data);
                   dtree.dataInit("typeTree",data.parent);
                   dtree.setSelectValue("typeTree");
                    url = "/admin/type/updateType";
                }
            });
        }

        //删除部门
        function deleteInfo(data) {
            $.post("/admin/type/checkTypeHasChildren",{"id":data.id},function (result) {
                if (result.exist){
                    layer.msg("对不起，当前节点下有子节点，无法删除!");
                }else{
                    layer.confirm("确定要删除这条数据吗？",{"icon":3,"title":"提示"},function (index) {
                        $.post("/admin/type/deleteById",{"id":data.id},function (result) {
                            if (result.success){
                                tableIns.reload();
                                deptSelectTree.reload();
                                window.parent.left.reload();
                            }
                            layer.msg(result.message);
                        },"json");
                        layer.close(index);
                    })
                }
            },"json")
        }

    });

    /**
     * 加载数据表格的方法
     * @param deptId
     */
    function loadTableData(deptId) {
        tableIns.reload({
            where: {"id":deptId},
            page: {
                curr: 1
            }
        })
    }
</script>
</body>
</html>